body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* CELULAR */
.phone {
  width: 340px;
  height: 700px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
  background: url("Imagem Icone/WALLPAPER.png") center/cover;
  box-shadow: 0 0 60px rgba(0,0,0,0.9);
  cursor: none;
}

/* STATUS BAR */
.status-bar {
  position: absolute;
  top: 12px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

/* ÁREA DE NOTIFICAÇÕES */
.notifications {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* CENTRALIZA */
}

/* CARD */
.notification {
  width: 90%; /* deixa centralizado bonito */
  max-width: 300px;

  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(35px);
  border-radius: 22px;
  padding: 14px;
  margin-bottom: 12px;
  color: white;

  transform: translateY(-60px) scale(0.95);
  opacity: 0;
  animation: slideDown 0.5s ease forwards;
}

/* ANIMAÇÃO MAIS SUAVE */
@keyframes slideDown {
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* ÍCONE */
.notification img {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  margin-right: 12px;
}

/* TEXTO */
.text {
  flex: 1;
}

.text strong {
  font-size: 15px;
  font-weight: 600;
}

.text p {
  margin: 3px 0 0;
  font-size: 13px;
  opacity: 0.95;
}

/* TEMPO */
.time {
  font-size: 11px;
  opacity: 0.7;
}
