body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CELULAR */
.phone {
  width: 320px;
  height: 650px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  background: url("Imagem Icone/WALLPAPER.png") center/cover;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  cursor: none;
}

/* STATUS BAR */
.status-bar {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

/* NOTIFICAÇÕES */
.notifications {
  position: absolute;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  padding: 15px;
  overflow-y: auto;
}

/* CARD */
.notification {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 12px;
  color: white;

  /* animação */
  transform: translateY(-50px);
  opacity: 0;
  animation: slideDown 0.5s ease forwards;
}

/* ANIMAÇÃO */
@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ÍCONE */
.notification img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 10px;
}

/* TEXTO */
.text {
  flex: 1;
}

.text strong {
  font-size: 14px;
}

.text p {
  margin: 2px 0 0;
  font-size: 12px;
}

/* TEMPO */
.time {
  font-size: 11px;
  opacity: 0.8;
}
